langchain
mysql-connector-python
pyodbc
langchain-core
langchain-openai
langchain-chroma
faiss-cpu
fastapi[standard]
langchain-community
asyncpg
psycopg2

fastapi==0.103
pydantic==2.8.0
pydantic-settings==2.4.0
python-dotenv==1.0.0

# pysqlite3-binary

beanie==1.26.0

langchain
langchain-text-splitters
langchain-experimental
langchain-cli